extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/admin_create_quest.css')

  .rpg-theme
    .container-fluid.px-4.px-lg-5.rpg-container
      .d-flex.justify-content-between.align-items-center.mb-4
          h2 
            i.fas.fa-edit.me-2.text-rpg-gold
            | Редактиране на Куест
          a.btn.rpg-btn.rpg-btn-edit(href="/quests") 
            i.fas.fa-arrow-left.me-1
            | Отказ

      input#questId(type="hidden" value=quest.id)

      .card.rpg-card.mb-4
        .card-header.rpg-card-header 
          i.fas.fa-info-circle.me-2
          | Основна информация
        .card-body
          .row
            .col-12
              .mb-3
                label.form-label.rpg-label Заглавие
                input#questTitle.form-control.rpg-input(type="text" value=quest.title)
          
          .mb-3
            label.form-label.rpg-label Описание
            textarea#questDesc.form-control.rpg-input(rows="3")= quest.description

      #quizzesContainer
          if quest.Quizzes
              each quiz, index in quest.Quizzes
                  - var isLocked = (quiz.dataValues.attemptCount > 0)
                  .card.mb-5.quiz-section.rpg-card.shadow(data-id=quiz.id class=isLocked ? "locked-quiz" : "")
                      .card-header.rpg-card-header.d-flex.justify-content-between.align-items-center
                          div
                              h5.mb-0 
                                if isLocked
                                  i.fas.fa-lock.me-2
                                else
                                  i.fas.fa-book-open.me-2
                                | Раздел ##{index + 1}
                              
                              if isLocked
                                  span.badge.bg-danger.rpg-badge.mt-2
                                      | Решаван от #{quiz.dataValues.attemptCount} потребители (Заключен)
                              else
                                  span.badge.bg-info.rpg-badge.mt-2 Свободен за редакция (0 решавания)
                          
                          div
                              span.badge.bg-dark.text-light.border.border-secondary.me-3 ID: #{quiz.id}
                              button.btn.rpg-btn.rpg-btn-delete.btn-sm.delete-existing-quiz-btn(type="button")
                                  i.fas.fa-trash-alt.me-1
                                  | Изтрий
                      
                      .card-body
                          .row
                              .col-md-8
                                  .mb-3
                                      label.form-label.rpg-label Заглавие на раздела:
                                      input.form-control.rpg-input.quiz-title(type="text" value=quiz.title disabled=isLocked)
                              .col-md-4
                                  .mb-3
                                      label.form-label.rpg-label XP Награда:
                                      .input-group
                                          span.input-group-text.rpg-input-group-text
                                            i.fas.fa-star.text-warning
                                          input.form-control.rpg-input.quiz-xp(type="number" value=quiz.xpReward min="0" disabled=isLocked)

                          if isLocked
                               .rpg-alert-warning.small.mb-3.mt-2
                                  i.fas.fa-exclamation-triangle.text-warning.me-2
                                  | Този раздел не може да бъде редактиран, защото вече има резултати. Можете само да го изтриете.
                          else                           
                               .questions-container
                                  if quiz.Questions
                                      each question in quiz.Questions                                   
                                          - var qIndex = question.id 
                                          .card.mb-3.question-card.rpg-card.mt-3
                                              .card-body
                                                  .d-flex.justify-content-between.align-items-center.mb-2
                                                      label.form-label.rpg-label.text-warning.mb-0
                                                        i.fas.fa-question-circle.me-1
                                                        | Въпрос:
                                                      button.btn.rpg-btn.rpg-btn-delete.btn-sm.py-1.px-2.remove-btn(type="button" title="Изтрий въпроса")
                                                        i.fas.fa-times
                                                  
                                                  input.form-control.rpg-input.mb-3.q-text(type="text" value=question.text placeholder="Текст на въпроса...")
                                                  
                                                  .row.g-2.mb-3
                                                      .col-md-4
                                                          .input-group
                                                              span.input-group-text.rpg-input-group-text
                                                                i.fas.fa-bullseye.text-info
                                                              input.form-control.rpg-input.q-points(type="number" value=question.points placeholder="Точки")
                                                  
                                                  label.form-label.rpg-label.mt-2.small
                                                    i.fas.fa-check-circle.me-1.text-success
                                                    | Отговори (маркирай верния):
                                                  .answers-box
                                                      each answer, aIndex in question.Answers
                                                          .input-group.mb-2
                                                              .input-group-text.rpg-input-group-text
                                                                  input.form-check-input.mt-0.rpg-radio.q-correct(type="radio" name=`correct_${qIndex}` checked=answer.isCorrect)
                                                              input.form-control.rpg-input.q-answer(type="text" value=answer.text)
                                                              
                               button.btn.rpg-btn.rpg-btn-edit.btn-sm.mt-3.add-question-btn(type="button")
                                  i.fas.fa-plus.me-1
                                  | Добави Въпрос

      .d-flex.justify-content-between.mb-5.pb-5.mt-4
        button.btn.rpg-btn.rpg-btn-edit.btn-lg#addQuizBtn(type="button") 
          i.fas.fa-folder-plus.me-2
          | + Добави НОВ Раздел
        
        button.btn.rpg-btn.rpg-btn-role.btn-lg#saveQuestBtn(type="button") 
          i.fas.fa-save.me-2
          | ЗАПАЗИ ПРОМЕНИТЕ

  script(src='/javascripts/admin_edit_quest.js')