extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/admin_users.css')

  .container-fluid.px-4.px-lg-5.mt-4
    .rpg-admin-header
      .rpg-header-content
        h1.rpg-admin-title
          i.fas.fa-users.me-3
          | Управление на потребители
        p.rpg-header-subtitle Администриране и контрол на всички регистрирани потребители

    .rpg-admin-card
      .table-responsive
        table.table.rpg-admin-table
          thead
            tr
              th ID
              th.col-username Потребител
              th.col-email Email
              th.col-role Роля
              th.col-date Регистриран на
              th.col-actions Действия
          tbody
            each user in users
              tr(id=`user-row-${user.id}`)
                td.cell-id
                  code #{user.id}
                td.cell-username
                  strong #{user.username}
                td.cell-email
                  span #{user.email}
                td.cell-role
                  if user.role === 'admin'
                    span.rpg-badge.rpg-badge-admin
                      i.fas.fa-shield-alt.me-1
                      | Админ
                  else
                    span.rpg-badge.rpg-badge-user
                      i.fas.fa-user.me-1
                      | Потребител
                td.cell-date
                  small #{new Date(user.createdAt).toLocaleDateString('bg-BG')}
                td.cell-actions
                  .action-buttons
                    button.rpg-btn.rpg-btn-edit(
                      type='button'
                      data-bs-toggle='modal'
                      data-bs-target='#editUserModal'
                      data-id=user.id
                      data-username=user.username
                      data-email=user.email
                      title='Редактирай потребител'
                    )
                      i.fas.fa-edit
                      span.d-none.d-lg-inline.ms-1 Редакция

                    if user.role === 'admin'
                      if lastAdmin && lastAdmin.id === user.id
                        button.rpg-btn.rpg-btn-revoke.rpg-btn-disabled(
                          type='button'
                          disabled
                          title='Последният администратор не може да бъде премахнат'
                        )
                          i.fas.fa-lock.me-1
                          span.d-none.d-lg-inline Защитен
                      else
                        button.rpg-btn.rpg-btn-revoke.role-btn(
                          type='button'
                          data-id=user.id
                          data-new-role='user'
                          title='Премахни администраторски достъп'
                        )
                          i.fas.fa-user.me-1
                          span.d-none.d-lg-inline Премахни Admin
                    else
                      button.rpg-btn.rpg-btn-promote.role-btn(
                        type='button'
                        data-id=user.id
                        data-new-role='admin'
                        title='Направи администратор'
                      )
                        i.fas.fa-shield-alt.me-1
                        span.d-none.d-lg-inline Направи Admin

                    if user.role !== 'admin'
                      button.rpg-btn.rpg-btn-delete.delete-user-btn(
                        type='button'
                        data-id=user.id
                        title='Изтрий потребител'
                      )
                        i.fas.fa-trash-alt
                        span.d-none.d-lg-inline.ms-1 Изтрий

    #editUserModal.modal.fade.rpg-modal(tabindex='-1', aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title
              i.fas.fa-user-edit.me-2.text-rpg-gold
              | Редакция на потребител
            button.btn-close.btn-close-light(type='button', data-bs-dismiss='modal', aria-label='Close')
          form#editUserForm(method='POST')
            .modal-body
              .mb-3
                label.form-label За потребителско име
                input#modalUsername.form-control(
                  type='text'
                  name='username'
                  required
                  placeholder='Въведи ново потребителско име'
                )
              .mb-3
                label.form-label Email адрес
                input#modalEmail.form-control(
                  type='email'
                  name='email'
                  required
                  placeholder='Въведи нов email адрес'
                )
            .modal-footer
              button.rpg-btn.rpg-btn-cancel(type='button', data-bs-dismiss='modal')
                i.fas.fa-times.me-1
                | Отказ
              button.rpg-btn.rpg-btn-save(type='submit')
                i.fas.fa-check.me-1
                | Запази промените

  script(src='/javascripts/admin_users.js')
