extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/quiz-gameplay.css')

  .container.mt-5
    .row.justify-content-center
      .col-lg-8
        
        .mb-4
          a.btn.btn-outline-secondary(href=`/quests/${questId}`) 
            i.fas.fa-arrow-left.me-2
            | Back to Quest Menu
        
        .d-flex.justify-content-between.align-items-center.mb-4.flex-wrap
            h2.text-primary.mb-0= quiz.title
            
            .d-flex.gap-2.flex-wrap
                if jokerCount > 0
                    span.badge.bg-indigo.fs-5.shadow-sm#globalJokerCount(style="background-color: #6610f2;")
                        i.fas.fa-dice-d20.me-2
                        | Жокери: #{jokerCount}
                
                if elixirCount > 0
                    span.badge.fs-5.shadow-sm#globalElixirCount(style="background-color: #e83e8c;")
                        i.fas.fa-flask.me-2
                        | Еликсири: #{elixirCount}

                if scrollCount > 0
                    span.badge.fs-5.shadow-sm.bg-warning.text-dark
                        i.fas.fa-scroll.me-2
                        | Свитъци: #{scrollCount}

        form(action=`/quests/${questId}/quizzes/${quiz.id}/submit` method="POST")
          
          if quiz.Questions && quiz.Questions.length > 0
            each question, qIndex in quiz.Questions
              .card.mb-4.shadow-sm.border-0(id=`question-card-${question.id}`)
                .card-header.bg-light.d-flex.justify-content-between.align-items-center.p-3
                    div
                        span.badge.bg-primary.me-2 #{question.points} pts
                        span.fw-bold Въпрос #{qIndex + 1}
                    
                    .d-flex.gap-2
                        if jokerCount > 0
                            button.btn.btn-sm.btn-warning.btn-joker.fw-bold(
                                type="button" 
                                data-question-id=question.id
                                title="Премахва 50% от грешните отговори"
                            )
                                i.fas.fa-magic.me-1
                                | Жокер
                        else
                            button.btn.btn-sm.btn-secondary.btn-joker(type="button" disabled)
                                i.fas.fa-magic.me-1
                                | Жокер

                        if elixirCount > 0
                            button.btn.btn-sm.text-white.btn-elixir.fw-bold(
                                type="button" 
                                data-question-id=question.id
                                style="background-color: #e83e8c; border-color: #e83e8c;"
                                title="Показва верния отговор"
                            )
                                i.fas.fa-flask.me-1
                                | Еликсир
                        else
                            button.btn.btn-sm.btn-secondary.btn-elixir(type="button" disabled)
                                i.fas.fa-flask.me-1
                                | Еликсир

                .card-body.p-4
                    h5.mb-4 #{question.text}
                
                    .row
                      each answer in question.Answers
                        .col-md-6.mb-3(id=`answer-container-${answer.id}`)
                          .form-check.p-3.rounded.bg-white.h-100.d-flex.align-items-center.answer-box
                            input.form-check-input.me-3(
                              type="radio" 
                              name=`answers[${question.id}]` 
                              value=answer.id 
                              id=`ans_${answer.id}`
                              style="transform: scale(1.2);"
                              required
                            )
                            label.form-check-label.w-100.cursor-pointer(for=`ans_${answer.id}`)
                              = answer.text

            if scrollCount > 0
                .card.mb-4.border-warning.shadow-sm(style="background-color: #fff3cd;")
                    .card-body.d-flex.align-items-center.justify-content-between
                        div
                            h5.text-warning.fw-bold.mb-1 
                                i.fas.fa-scroll.me-2
                                | Свитък на Мъдростта
                            p.mb-0.small.text-muted Искаш ли двойно XP и Coins за този тест?
                        
                        .form-check.form-switch.fs-4
                            input.form-check-input(type="checkbox" role="switch" id="useScrollSwitch" name="useScroll")
                            label.form-check-label.fs-6(for="useScrollSwitch") Използвай
            else

            button.btn.btn-success.btn-lg.w-100.mb-5.py-3.shadow(type="submit") 
              i.fas.fa-check-circle.me-2
              | Предай теста
          else
            .alert.alert-warning.text-center Няма въпроси в този тест.

  script(src='/javascripts/quiz-joker.js')
  script(src='/javascripts/quiz-elixir.js')