extends ../../layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-8
        
        if query && query.error
            .alert.alert-danger #{query.error}
        if query && query.success
            .alert.alert-success #{query.success}

        .card.shadow.mt-5.border-0
            .card-header.bg-dark.text-white.p-3
                h5.mb-0 
                    i.fas.fa-upload.me-2
                    | Твоето решение

            .card-body.p-4
                if submission
                    .text-center.py-3
                        i.fas.fa-check-circle.text-success.fa-4x.mb-3
                        h3.text-success Предадено успешно!
                        p.text-muted Ти изпрати решението си на #{new Date(submission.createdAt).toLocaleString('bg-BG')}
                        
                        .alert.alert-secondary.d-inline-block.mt-2
                            i.far.fa-file.me-2
                            | #{submission.fileName}
                        
                        if submission.submissionText
                            p.mt-3.fst-italic " #{submission.submissionText} "

                        if submission.grade
                             hr
                             h4.fw-bold Оценка: #{submission.grade}
                             if submission.feedback
                                p.text-primary Коментар от учителя: #{submission.feedback}
                        else
                             p.mt-2.text-warning 
                                i.fas.fa-hourglass-half.me-1
                                | Очаква проверка от учител.

                else
                    - const isExpired = new Date(homework.endDate) < new Date()
                    
                    if isExpired
                        .alert.alert-danger.text-center
                            i.fas.fa-lock.me-2
                            | Срокът за предаване изтече! Вече не можеш да качваш файлове.
                    else
                        form(action=`/users/homework/${homework.id}/submit` method="POST" enctype="multipart/form-data")
                            .mb-3
                                label.form-label(for="solutionFile") Прикачи файл с решение
                                input.form-control(type="file" name="solutionFile" required)
                                .form-text Разрешени формати: PDF, Word, изображения, ZIP.
                            
                            .mb-3
                                label.form-label(for="submissionText") Коментар (по желание)
                                textarea.form-control(name="submissionText" rows="3" placeholder="Здравейте, изпращам домашното...")

                            button.btn.btn-success.w-100.btn-lg(type="submit")
                                i.fas.fa-paper-plane.me-2
                                | Предай Домашното