extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/arena-rpg.css")

  .arena-embers(aria-hidden="true")
    each _, i in [0,1,2,3,4,5,6,7,8,9]
      .ember

  .arena-theme
    .container.mb-5

      
      .arena-duel-board.p-4.mb-5

        .row.align-items-center.py-2

          
          .col-5.text-center
            .arena-avatar-ring.mb-3
              .arena-avatar
                i.fas.fa-user-astronaut
            h3.fw-bold.text-light.mb-1 #{duel.Initiator.User.username}
            p.arena-section-label.mb-2 Лвл #{duel.Initiator.level}
            .arena-wager-box.d-inline-flex.text-start.mt-1(style="max-width:200px;")
              .wager-icon.small
                i.fas.fa-gem
              .wager-name.small 📦 #{duel.InitiatorWager.DroppedItem.name}

          
          .col-2.text-center
            .arena-vs-wrap
              .arena-vs-text VS
              .arena-vs-swords
                i.fas.fa-bolt

          
          .col-5.text-center
            .arena-avatar-ring.enemy.mb-3
              .arena-avatar.enemy
                i.fas.fa-user-ninja
            h3.fw-bold.text-light.mb-1 #{duel.Opponent.User.username}
            p.arena-section-label.mb-2 Лвл #{duel.Opponent.level}
            .arena-wager-box.d-inline-flex.text-start.mt-1(style="max-width:200px;")
              .wager-icon.small
                i.fas.fa-gem
              .wager-name.small 📦 #{duel.OpponentWager.DroppedItem.name}

      
      .row.justify-content-center
        .col-lg-10
          .arena-card
            .arena-card-header.text-center
              i.fas.fa-brain.me-2
              | Реши въпросите преди противника!

            .card-body.p-4.p-md-5
              form#battleForm(action="/arena/submit-battle" method="POST")
                input(type="hidden" name="duelId" value=duel.id)

                each question, index in questions
                  .arena-question-card.mb-4
                    .arena-question-header
                      span.arena-question-num Въпрос #{index + 1}&ensp;/&ensp;#{questions.length}
                      p.text-light.mb-0.mt-1 #{question.text}

                    .p-4
                      .row.g-3
                        each answer in question.Answers
                          .col-md-6
                            .arena-answer-box.h-100.d-flex.align-items-center.p-3
                              - const uniqueId = `q_${question.id}_ans_${answer.id}`
                              input.form-check-input.arena-form-check-input.me-3(
                                type="radio"
                                name=`q_${question.id}`
                                value=answer.id
                                id=uniqueId
                                required
                              )
                              label.form-check-label.w-100(for=uniqueId style="cursor:pointer;")
                                | #{answer.text}

               
                .text-center.mt-5
                  button.btn.arena-btn.arena-btn-red.btn-lg.w-100.px-5.py-3(type="submit" id="submitBattleBtn")
                    i.fas.fa-fist-raised.me-2
                    | Нанеси Удар! (Предай Теста)

  script(src="/javascripts/arena-battle.js")
