extends ../layout

block styles
  link(rel="stylesheet", href="/stylesheets/leaderboard.css")

block content
  
  .lb-particles
    - for (var i = 0; i < 25; i++)
      .lb-particle

  .lb-wrapper
    
    header.lb-header
      .lb-header__halo
      .lb-header__inner
        h1.lb-title
          span.lb-title__icon
            i.fas.fa-trophy
          span.lb-title__text Зала на Славата
        p.lb-subtitle Сравни се с легендите на кралството!

    
    nav.lb-tabs
      a.lb-tab(class=rankingType === 'level' ? 'lb-tab--active' : '' href="/leaderboard?type=level")
        i.fas.fa-globe.lb-tab__icon
        span По Level
      a.lb-tab(class=rankingType === 'quest' ? 'lb-tab--active' : '' href="/leaderboard?type=quest")
        i.fas.fa-scroll.lb-tab__icon
        span По Предмет

    
    if rankingType === 'quest'
      if quests && quests.length > 0
        .lb-filter
          form.lb-filter__form(action="/leaderboard" method="GET")
            input(type="hidden" name="type" value="quest")
            label.lb-filter__label(for="questId")
              i.fas.fa-book-open.me-2
              | Избери предмет:
            .lb-filter__select-wrap
              select.lb-filter__select#questId(name="questId" onchange="this.form.submit()")
                each q in quests
                  option(value=q.id selected=(selectedQuest && selectedQuest.id == q.id)) #{q.title}
              i.fas.fa-chevron-down.lb-filter__arrow
      else
        .lb-empty
          i.fas.fa-ghost.lb-empty__icon
          p.lb-empty__text Няма активни предмети в момента.

    
    if rankingType === 'level'
      .lb-section-title
        .lb-section-title__line
        span
          i.fas.fa-medal.me-2
          | Топ 10 Най-могъщи герои
        .lb-section-title__line
    else if rankingType === 'quest' && selectedQuest
      .lb-section-title
        .lb-section-title__line
        span
          i.fas.fa-star.me-2
          | Топ 10 в #{selectedQuest.title}
        .lb-section-title__line

    
    if (rankingType === 'level' && leaderboard.length > 0) || (rankingType === 'quest' && selectedQuest && leaderboard.length > 0)

      
      - const topEntry = leaderboard[0]
      - const topVal = rankingType === 'level' ? (topEntry.xp || 1) : (topEntry.totalPoints || 1)

      
      if leaderboard.length >= 1
        .lb-podium
          
          .lb-podium__slot.lb-podium__slot--2
            if leaderboard.length >= 2
              .lb-podium__card.lb-podium__card--silver
                .lb-podium__avatar
                  i.fas.fa-user
                .lb-podium__name #{leaderboard[1].user ? leaderboard[1].user.username : 'Неизвестен'}
                .lb-podium__stat
                  if rankingType === 'level'
                    span.lb-podium__val #{leaderboard[1].level}
                    span.lb-podium__sub  Ниво
                    br
                    span.lb-podium__xp #{leaderboard[1].xp} XP
                  else
                    span.lb-podium__val #{leaderboard[1].totalPoints}
                    span.lb-podium__sub  т.
                .lb-podium__base.lb-podium__base--2
                  span 🥈

          
          .lb-podium__slot.lb-podium__slot--1
            .lb-podium__card.lb-podium__card--gold
              .lb-podium__crown ♛
              .lb-podium__avatar.lb-podium__avatar--lg
                i.fas.fa-user
              .lb-podium__name #{leaderboard[0].user ? leaderboard[0].user.username : 'Неизвестен'}
              .lb-podium__stat
                if rankingType === 'level'
                  span.lb-podium__val #{leaderboard[0].level}
                  span.lb-podium__sub  Ниво 
                  br
                  span.lb-podium__xp #{leaderboard[0].xp} XP
                else
                  span.lb-podium__val #{leaderboard[0].totalPoints}
                  span.lb-podium__sub  т.
              .lb-podium__base.lb-podium__base--1
                span 🥇

          
          .lb-podium__slot.lb-podium__slot--3
            if leaderboard.length >= 3
              .lb-podium__card.lb-podium__card--bronze
                .lb-podium__avatar
                  i.fas.fa-user
                .lb-podium__name #{leaderboard[2].user ? leaderboard[2].user.username : 'Неизвестен'}
                .lb-podium__stat
                  if rankingType === 'level'
                    span.lb-podium__val #{leaderboard[2].level}
                    span.lb-podium__sub  Ниво
                    br
                    span.lb-podium__xp #{leaderboard[2].xp} XP
                  else
                    span.lb-podium__val #{leaderboard[2].totalPoints}
                    span.lb-podium__sub  т.
                .lb-podium__base.lb-podium__base--3
                  span 🥉

      
      - const rest = leaderboard.slice(Math.min(leaderboard.length, 3))
      if rest.length > 0
        .lb-ranks
          each entry, idx in rest
            - const rank = Math.min(leaderboard.length, 3) + idx + 1
            - const statVal = rankingType === 'level' ? (entry.xp || 0) : (entry.totalPoints || 0)
            - const pct = topVal > 0 ? Math.min(Math.round((statVal / topVal) * 100), 100) : 0
            .lb-rank-row(data-index=idx)
              .lb-rank-row__number ##{rank}
              .lb-rank-row__avatar
                i.fas.fa-user
              .lb-rank-row__body
                .lb-rank-row__name #{entry.user ? entry.user.username : 'Неизвестен'}
                .lb-rank-row__bar-track
                  .lb-rank-row__bar(data-pct=pct style="width: 0%")
              .lb-rank-row__stat
                if rankingType === 'level'
                  .lb-rank-row__stat-main Ниво #{entry.level}
                  .lb-rank-row__stat-sub #{entry.xp} XP
                else
                  .lb-rank-row__stat-main #{entry.totalPoints}
                  .lb-rank-row__stat-sub т.

    else
      
      .lb-empty.lb-empty--large
        i.fas.fa-ghost.lb-empty__icon
        if rankingType === 'quest' && selectedQuest
          h3.lb-empty__title Все още няма решени тестове.
          p.lb-empty__text Бъди първият герой в #{selectedQuest.title}!
        else if rankingType === 'level'
          h3.lb-empty__title Няма създадени герои все още.
          p.lb-empty__text Твоята легенда тепърва предстои!

block scripts
  script(src="/javascripts/leaderboard.js")
